<!-- _layouts/base.liquid-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- this is not coming from the page using this layout -->
    <title>{{ title }}</title>
	<meta name="description" content="{{ description }}" />

	<!-- Favicons -->
	<link rel="icon" href="/assets/favicon/favicon.ico">
	<link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml" sizes="any">
	<link rel="apple-touch-icon" href="/assets/favicon/apple.png">
	<link rel="manifest" href="/assets/manifest.json">

	<!-- Reassure the browser that we are mobile-friendly -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="HandheldFriendly" content="True" />

	<!-- Meta Tags for Social Media Platforms -->
	<meta property="og:url" content="{{ page.url }}" />
	<meta property="og:site_name" content="Stories from Vermont" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:image" content="/assets/img/og.png" />

	{{ styles }}
	<link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
	{% include 'menu'  %}
	<main class="layout-grid">
    	{{ content }}
	</main>
	{{ scripts }}
	{% include 'scripts' %}
</body>
</html>